<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rushabh.remembertocall">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingActivity"
            android:label="@string/setting_activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <service
            android:name=".service.UpdateDatabaseService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/service_name"
            android:enabled="true">
        </service>

        <service
            android:name=".service.UpdateDatabaseOnCallService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/service_name_on_call"
            android:enabled="true">
        </service>
        <receiver
            android:name=".broadcastReceiver.ActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.rushabh.remenbertocall.NOTIFICATION_TIME_CHANGE" />

            </intent-filter>
        </receiver>

        <receiver android:name=".broadcastReceiver.UpdateDatabaseReceiver" />
        <receiver android:name=".broadcastReceiver.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
